.box-input{
    top:30vh;
    left:25%;
    background-color: lightgrey;
    width: 50%;
    padding: 1vw;
    position: relative;
}

.topnav {
    overflow: hidden;
    background-color: #f1f1f1;
  }
  
  .topnav a.menu {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
  }
  
  .topnav .month-header{
    height:100%;
  }

  .topnav a.menu:hover {
    border-bottom: 3px solid red;
  }
  
  .topnav a.menu.active {
    border-bottom: 3px solid red;
  }

  .month-header{
    float:right;
    margin:auto;
    display:inline;
    /* padding:12px; */
    height:100%;
    padding : 1vh;
    
  }

  i{
    margin:2px;
}

.table-header{
  width:100%;
  display:block;
  padding : 1%;
  position:relative;
  
}

thead{
  width:100%;
  position: relative;
  
}

tr{
  width:100vw;
  padding:1%;
}

th,td{
  padding: 4px 5vw;
  text-align: center;
}